<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  
  <!-- To check Load on Startup 
  
  We can use either in this way of we can make use of @WebServlet annotation
  
  -->
  <!-- <servlet>
  	<servlet-name>ServletClass1</servlet-name>
  	<servlet-class>ServletClasses.ServletClass1</servlet-class>
  	<load-on-startup>
  	1
  	</load-on-startup>
  </servlet>
  
  <servlet>
  <servlet-name>UserInfo</servlet-name>
  <servlet-class>ServletClasses.UserInfo</servlet-class>
  <load-on-startup>
  2
  </load-on-startup>
  </servlet> 
   -->
   
 <!--  <servlet-mapping>
  	<servlet-name>ServletClass1</servlet-name>
  	<url-pattern>/display</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UserInfo</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping> -->
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>register.html</welcome-file>
  	<welcome-file>userinfo.html</welcome-file>
  </welcome-file-list>
  
  
</web-app>
